@use '../../../../scss/mixins';
@use '../../../../scss/variables' as var;

.side-menu {
  position: absolute;
  width: 100vw;
  height: fit-content;
  z-index: 1049; // one less than bootstrap modal
  left: 0;
  top: 0;
  transform: translateX(-100%);
  transition: transform 500ms;
  @include mixins.mqMd {
    width: 50vw;
  }

  &.show {
    transform: translateX(0);

    &.shade {
      &::after {
        content: "";
        width: 300vw;
        height: 100%;
        top: 0;
        left: 0;
        background-color: var.$black50;
        position: absolute;
        z-index: -1;
        backdrop-filter: blur(5px);
        animation: show 500ms alternate;
      }
    }

    @keyframes show {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }

  &-inner {
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
    top: 0px;
  }
}
