@use '../../scss/mixins';

.navbar.mx-lg-5 {
  @include mixins.mqMd {
    margin-left: 10rem !important;
    margin-right: 10rem !important;
  }
}

.nav-link {
  margin-bottom: 0.5rem;
  @include mixins.mqMd {
    &:nth-child(n + 2) {
      margin-left: 0.5rem;
    }
    margin-bottom: 0;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
  &.btn-light {
    color: rgba(0, 0, 0, 0.5);
  }
}
