// colors
$mauve: rgba(152, 92, 252, 1);
$mauve80: rgba(152, 92, 252, 0.8);
$mauve50: rgba(152, 92, 252, 0.5);
$black: rgba(0, 0, 0, 1);
$black80: rgba(0, 0, 0, 0.8);
$black50: rgba(0, 0, 0, 0.5);
$warn: rgba(230, 126, 34, 1);
$warn80: rgba(230, 126, 34, 0.8);
$warn50: rgba(230, 126, 34, 0.5);
$danger: rgba(220, 53, 69, 1);
$danger80: rgba(220, 53, 69, 0.8);
$danger50: rgba(220, 53, 69, 0.5);
$blue: rgba(0, 123, 255, 1);
$blue80: rgba(0, 123, 255, 0.8);
$blue50: rgba(0, 123, 255, 0.5);

// breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
