@use '../../../../../../scss/variables' as var;

.datepicker-date {
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  border: 1px solid var.$lightgray;

  &:not(.blank):hover {
    background-color: var.$blue50;
  }

  &.blank {
    background-color: var.$lightgray;
    cursor: default;
  }
}
